:root {
  --gray: #828282;
  --grey: #828282;
  --light-pink: #ffc0cb;
  --mid-pink: #f993a5;
  --dark-pink: #ee6a82;

  --size-heading-1: 4.2rem;
  --size-heading-2: 2.6rem;
  --size-heading-3: 1.6rem;

  --size-5: 4.2rem;
  --size-4: 2.6rem;
  --size-3: 1.6rem;
  --size-2: 1.1rem;
  --size-1: 0.750rem;
  --size-0: 0.5rem;
  --line-height: 1.6rem;

  --spacing-none: 0;
  --spacing-extra-small: .25rem;
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;

  --black: #000;
  --near-black: #111;
  --dark-gray:#333;
  --mid-gray:#555;
  --silver: #999;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #f4f4f4;
  --white: #fff;

  --transparent:transparent;
  --font-title: 'avenir next', avenir, sans-serif;
  --font-paragraph: georgia, serif;
  --serif: georgia, times, serif;
  --code: Consolas, monaco, monospace; 
  --courier: 'Courier Next', courier, monospace;
  --helvetica: 'helvetica neue', helvetica, sans-serif;
  --avenir: 'avenir next', avenir, sans-serif;
  --athelas: athelas, georgia, serif;
  --georgia: georgia, serif;
  --times: times, serif;
  --bodoni: "Bodoni MT", serif;
  --calisto: "Calisto MT", serif;
  --garamond: garamond, serif; 
  --baskerville: baskerville, serif;



  /*--sans-serif: -apple-system, BlinkMacSystemFont,
                'avenir next', avenir,
                helvetica, 'helvetica neue',
                ubuntu,
                roboto, noto,
                'segoe ui', arial,
                sans-serif;
  --serif: georgia, times, serif;
  --code: Consolas, monaco, monospace; 
  --courier: 'Courier Next', courier, monospace;
  --helvetica: 'helvetica neue', helvetica, sans-serif;
  --avenir: 'avenir next', avenir, sans-serif;
  --athelas: athelas, georgia, serif;
  --georgia: georgia, serif;
  --times: times, serif;
  --bodoni: "Bodoni MT", serif;
  --calisto: "Calisto MT", serif;
  --garamond: garamond, serif; 
  --baskerville: baskerville, serif;*/
}

::selection {
  background: var(--mid-pink);
}

/* Resets*/
body {
  margin: var(--spacing-none);
}
h1 {
  font-size: var(--size-4);
  margin: var(--spacing-small) 0;
}
